<div class="p-2">
  <app-job-search></app-job-search>
</div>
<div [ngClass]="{'showing-preview': showingPreview,'not-showing-preview': !showingPreview }" class="grid  mt-2" *ngIf="jobs?.length > 0">
  <div *ngFor="let obj of jobs">
    <app-job-card
      (click)="onCardClick(obj)"
      (onApply)="apply($event)"
      [selected]="selectedId === obj.id"
      [job]="obj"></app-job-card>
  </div>
</div>

<div *ngIf="jobs?.length == 0 && !isLoading" class="d-flex justify-content-center" >
  <div class="d-flex justify-content-center">
    <h4 id ="notfound" class="text-center mt-5">Nenhuma vaga foi encontrada <i class="material-icons" style="font-size: 40px">sentiment_very_dissatisfied</i></h4>
  </div>
</div>

<div class="flex t-center p-12" *ngIf="isLoading">
  <mat-spinner diameter="64"></mat-spinner>
</div>
