
  <main class="container">

    <section class="flex items-center">
      <img *ngIf="knowledge.image" [src]="knowledge.image" class="t-rounded-image__big mr-2 border" alt="">
      <h1 class="text-3xl py-4">
      {{ knowledge.name }}
      </h1>

    </section>

    <p class="p-4 bg-gray-100">{{ knowledge.description }}</p>

    <section *ngIf="knowledge.contents.length > 0" class="p-4" id="knowledges">
      <h2 class="text-2xl my-2">Aumente seu conhecimento</h2>
      <div class="py-4" *ngFor="let contentType of tiposConteudo">
        <div *ngIf="hasContentType(contentType, knowledge)">
          <h3 class="text-xl mb-2">{{ contentType | lowercase }}s</h3>
          <app-knowledge-content-list [limit]="9" [filterContent]="contentType" [columns]="3" [knowledge]="knowledge">

          </app-knowledge-content-list>
        </div>
      </div>
    </section>
  </main>
