<h1 id="titlenewJob">Criar uma nova vaga</h1>


<div class="container">
  <form [formGroup]="jobForm" (submit)="createJob()">
    <div class="form-group">
      <label id="label" for="exampleFormControlInput1">Título da vaga</label>

      <input type="text" formControlName="title" class="form-control" id="titulo" placeholder="Desenvolvedor mobile">
    </div>


    <div *ngIf="listCompanies?.length == 0" class="form-group">
      <label id="label" for="exampleFormControlInput1">Empresa</label>
      <select class="form-control" id="typejob" formControlName="companyId" [disabled]="true">
        <option value="" disabled selected>Você precisa cadastrar uma empresa.</option>
      </select>
    </div>

    <div *ngIf="listCompanies?.length > 0" class="form-group">
      <label id="label" for="exampleFormControlInput1">Empresa</label>
      <select class="form-control" id="typejob" formControlName="companyId">
        <option value="" disabled selected>Selecione a empresa</option>
        <option *ngFor='let obj of listCompanies' [value]="obj.id">{{obj.name}} </option>
      </select>
    </div>

    <div class="form-group">
      <div [class.t-disabled]="knowledgesSelected.length >= 5">
        <app-form-field
        [fControl]="knowledgeSearch"
        [matAutocomplete]="auto"
        label="quais conhecimentos que a sua vaga tem relação?">
        </app-form-field>
      </div>
      <p *ngIf="knowledgesSelected.length >= 5" class="text-red-600 mt-2">voce chegou ao limite de conhecimentos relacionados</p>
      <mat-autocomplete (optionSelected)="addKnowledge($event.option.value)" #auto="matAutocomplete">
        <mat-option *ngFor="let knowledge of knowledgesFiltered" [value]="knowledge">
          {{ knowledge.name }}
        </mat-option>
      </mat-autocomplete>

      <div class="mt-2">

        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let knowledge of knowledgesSelected" [selected]="true"
                   [removable]="true" (removed)="removeKnowledge(knowledge)">
            {{ knowledge.name }}
            <button matChipRemove>
                <mat-icon [style.color]="'white'" >cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </div>

    </div>

    <div class="form-group">
      <label id="label" for="exampleFormControlInput1">Salário mensal</label>

      <input currencyMask class="form-control" formControlName="salary" placeholder="R$ 980,00">
    </div>
    <!--
      <div class="form-group">
        <label id ="labelDescription"  for="exampleFormControlSelect1">Salário mensal</label>
        <select class="form-control" id="salaryJob" formControlName="salary">
          <option *ngFor='let key of Object?.keys(salary)' >{{salary[key]}}</option>
        </select>
      </div>
  -->
    <div class="form-group">
      <label id="labelDescription" for="exampleFormControlTextarea1">Descrição da vaga</label>
      <textarea formControlName="fullDescription" class="form-control" id="exampleFormControlTextarea1" rows="10"
        placeholder="Vaga de desenvolvedor mobile &#10;
        Experiência:
          • Experiência com Android, kotlin e java;&#10;
          Requisitos Desejaveis:
          • Conhecimento em testes integrados
          • Formando em ciência da computação, Sistemas de Informação ou áreas correletas&#10;
          Benefícios: VT, VR, Plano de Saúde e PLR." maxlength="500" minlength="80"></textarea>
    </div>
    <div
      class="preview-toggle"
      (click)="showDescriptionPreview = !showDescriptionPreview"
      [class.visible]="showDescriptionPreview"
      >
      <span>{{showDescriptionPreview ? 'Esconder prévia' : 'Visualizar prévia'}}</span>
      <mat-icon>remove_red_eye</mat-icon>
    </div>
    <div class="description-preview" *ngIf="showDescriptionPreview">
      <markdown [data]="jobForm.get('fullDescription').value ? jobForm.get('fullDescription').value : ''">

      </markdown>
    </div>
    <div class="btnsendcenter">
      <button class="button">Enviar vaga</button>
    </div>
  </form>

</div>
