<h1 id="titlenewJob">Criar uma nova vaga</h1>


<div class="container">
  <form [formGroup]="jobForm" (submit)="createJob()">
    <div class="form-group">
      <label id="label" for="exampleFormControlInput1">Título da vaga</label>

      <input type="text" formControlName="title" class="form-control" id="titulo" placeholder="Desenvolvedor mobile">
    </div>


    <div *ngIf="listCompanies?.length == 0" class="form-group">
      <label id="label" for="exampleFormControlInput1">Empresa</label>
      <select class="form-control" id="typejob" formControlName="companyId" [disabled]="true">
        <option value="" disabled selected>Você precisa cadastrar uma empresa.</option>
      </select>
    </div>

    <div *ngIf="listCompanies?.length > 0" class="form-group">
      <label id="label" for="exampleFormControlInput1">Empresa</label>
      <select class="form-control" id="typejob" formControlName="companyId">
        <option value="" disabled selected>Selecione a empresa</option>
        <option *ngFor='let obj of listCompanies' [value]="obj.id">{{obj.name}} </option>
      </select>
    </div>

    <div class="form-group">

      <app-knowledge-multiple-select
      (knowledgeSelect)="setKnowledges($event)"
      label="quais conhecimentos que a sua vaga tem relação?"
      >

      </app-knowledge-multiple-select>

    </div>

    <div class="form-group">
      <label id="label" for="exampleFormControlInput1">Salário mensal</label>

      <input currencyMask class="form-control" formControlName="salary" placeholder="R$ 980,00">
    </div>

    <div class="form-group">
      <label id="label" for="exampleFormControlInput1">Descrição resumida</label>

      <input class="form-control" formControlName="description" placeholder="procuramos um desenvolvedor que seja capaz de criar Sistemas em React...">
    </div>
    <!--
      <div class="form-group">
        <label id ="labelDescription"  for="exampleFormControlSelect1">Salário mensal</label>
        <select class="form-control" id="salaryJob" formControlName="salary">
          <option *ngFor='let key of Object?.keys(salary)' >{{salary[key]}}</option>
        </select>
      </div>
  -->
    <div class="form-group">
      <div class="flex items-center">
        <label id="labelDescription" for="exampleFormControlTextarea1">Descrição da vaga</label>
        <div
        class="preview-toggle mb-2 ml-auto"
        (click)="showDescriptionPreview = !showDescriptionPreview"
        [class.visible]="showDescriptionPreview"
        >
        <span>{{showDescriptionPreview ? 'Esconder prévia' : 'Visualizar prévia'}}</span>
        <mat-icon>{{ showDescriptionPreview ? 'visibility_off' :  'visibility'  }}</mat-icon>
      </div>
    </div>
      <textarea [hidden]="showDescriptionPreview" formControlName="fullDescription" class="form-control" id="exampleFormControlTextarea1" rows="10"
        placeholder="Vaga de desenvolvedor mobile &#10;
        Experiência:
          • Experiência com Android, kotlin e java;&#10;
          Requisitos Desejaveis:
          • Conhecimento em testes integrados
          • Formando em ciência da computação, Sistemas de Informação ou áreas correletas&#10;
          Benefícios: VT, VR, Plano de Saúde e PLR." maxlength="500" minlength="80"></textarea>
    </div>
    <div class="description-preview bg-white p-4 border rounded mb-2" *ngIf="showDescriptionPreview">
      <app-markdown-viewer [data]="jobForm.get('fullDescription').value ? jobForm.get('fullDescription').value : ''">

      </app-markdown-viewer>
    </div>
    <div class="btnsendcenter">
      <button class="button">Enviar vaga</button>
    </div>
  </form>

</div>
