<div (click)="expand == false ? (expand = true) : null" class="border overflow-y-auto max-height md:m-4 m-1.5 shadow-md rounded-md md:p-8 p-2.5 transition-colors focus:bg-indigo-50">
  <header class="flex items-center justify-between overflow-ellipsis">
    <div class="flex justify-center overflow-hidden pr-1.5 md:pr-4 flex-col flex-1">
      <!-- <a href="javascript:null" [title]="job.companyId" class="t-link-indigo">{{ job.companyId }}</a> -->
      <h2
        [title]="job.title"
        class="flex md:flex-row flex-col justify-between md:text-xl sm:text-lg  overflow-ellipsis whitespace-nowrap pr-2"
      >
        <span class="overflow-ellipsis overflow-hidden">{{ job.title }}</span>
        <small class="text-gray-500">criado em {{ job.createdAt | date:'dd/MM/YYYY' }}</small>
      </h2>
      <sub class="font-light md:text-lg text-sm text-gray-500">{{ job.description }}</sub>
    </div>

    <div class="flex flex-col md:flex-row">
      <button (click)="$event.stopPropagation()" class="ml-auto mb-2 t-btn-indigo-sec h-fit-content t-icon md:text-lg sm:text-md">
        <mat-icon>edit</mat-icon>
      </button>
      <button
      (click)="expand = !expand; $event.stopPropagation()"
        class="ml-2 h-fit-content t-icon t-btn-indigo md:text-lg sm:text-md transform transition-transform rotate-0"
        [class.rotate-180]="expand">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </header>
  <main #main class="max-h-0 transition-all overflow-hidden">
    <section class="mt-2">
      <mat-tab-group (selectedTabChange)="updateMaxHeightCard()">

        <!-- -------------------------------------
                  Tab de inscrições
        ------------------------------------- -->

        <mat-tab label="Inscrições">
          <div #inscricoes >
            <div class="p-4" *ngIf="job.jobApplications.length === 0">
              <p class="text-lg">Ainda não há nenhuma candidatura para esta vaga.</p>
            </div>

            <!-- Candidaturas pendentes -->
            <section *ngIf="jobApplicationGridPending$ | async as jobApplications">
              <div *ngIf="jobApplications[0].length > 0">
                <section class="t-center p-4 text-gray-400 border-gray-400">
                  <div class="t-divider flex-1 -ml-4"></div>
                  <span class="mx-2">Candidaturas pendentes</span>
                  <div class="t-divider flex-1 -mr-4"></div>
                </section>
                <section class="p-2 grid gap-2 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 grid-mansory">
                  <div class="bg-white hover:z-10" *ngFor="let jobApplication of jobApplications" >
                    <div *ngFor="let jobApplication of jobApplication" class="flex flex-col">
                      <app-user-profile-card
                      (clickApprove)="approveRejectUser(jobApplication.user, true)"
                      (clickReject)="approveRejectUser(jobApplication.user, false)"
                      (mouseenter)="updateMaxHeightCard()" [user]="jobApplication.user"></app-user-profile-card>
                    </div>
                  </div>
                </section>
              </div>
            </section>

            <!-- Candidaturas aprovadas -->
            <section *ngIf="jobApplicationGridApproved$ | async as jobApplications">
              <div *ngIf="jobApplications[0].length > 0">
                <section class="t-center p-4 text-gray-400 border-gray-400">
                  <div class="t-divider flex-1 -ml-4"></div>
                  <span class="mx-2">Candidaturas aprovadas para o processo seletivo</span>
                  <div class="t-divider flex-1 -mr-4"></div>
                </section>
                <section class="p-2 grid gap-2 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 grid-mansory">
                  <div class="bg-white hover:z-10" *ngFor="let jobApplication of jobApplications" >
                    <div *ngFor="let jobApplication of jobApplication" class="flex flex-col">
                      <app-user-profile-card
                      (clickApprove)="approveRejectUser(jobApplication.user, true)"
                      (clickReject)="approveRejectUser(jobApplication.user, false)"
                      (mouseenter)="updateMaxHeightCard()"
                        [user]="jobApplication.user"></app-user-profile-card>
                    </div>
                  </div>
                </section>
              </div>
            </section>

            <!-- Candidaturas rejeitadas -->
            <section *ngIf="jobApplicationGridRejected$ | async as jobApplications">
              <div *ngIf="jobApplications[0].length > 0">
                <section class="t-center p-4 text-gray-400 border-gray-400">
                  <div class="t-divider flex-1 -ml-4"></div>
                  <span class="mx-2">Candidaturas rejeitadas para o processo seletivo</span>
                  <div class="t-divider flex-1 -mr-4"></div>
                </section>
                <section class="p-2 grid gap-2 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 grid-mansory">
                  <div class="bg-white hover:z-10" *ngFor="let jobApplication of jobApplications" >
                    <div *ngFor="let jobApplication of jobApplication" class="flex flex-col">
                      <app-user-profile-card (mouseenter)="updateMaxHeightCard()" [user]="jobApplication.user"></app-user-profile-card>
                    </div>
                  </div>
                </section>
              </div>
            </section>

          </div>
        </mat-tab>

        <!-- -------------------------------------
                  Tab de Vagas
        ------------------------------------- -->

        <mat-tab label="Vaga">
          <div class="my-4">
            <app-markdown-viewer [data]="job.fullDescription">
            </app-markdown-viewer>
          </div>
        </mat-tab>
      </mat-tab-group>
    </section>
  </main>
</div>
