<main>
  <section id="toolbar">

    <header class="bg-white  text-indigo-600 p-2">
        <div class="container flex items-center">
          <!-- <div class="space-flex"></div> -->
          <img [routerLink]="['/home']" src="/assets/logo-hefest.svg" class="w-32 ml-8 cursor-pointer" alt="">
          <div class="space-flex"></div>
          <button *ngIf='showSideMenu' (click)="clickMenu()" mat-icon-button>
            <mat-icon dir="rtl" >{{ menuIcone }}</mat-icon>
          </button>
        </div>
    </header>
  </section>

  <section class="space-flex" id="main-content">
    <mat-sidenav-container class="h100">
      <mat-sidenav [opened]="sideMenuOpened" mode="over"  position="end">
        <div style="width: 200px" class="d-flex flex-column">
          <div>
            <label class="p-2 my-2 block text-right bg-gray-100" for="">Área do Usuário</label>
            <p style="text-align:center; margin-top: 10px;"><a routerLinkActive="t-disabled" [routerLink]="['home']" (click)="clickMenu()"> início</a></p>
            <p style="text-align:center; margin-top: 10px;"><a routerLinkActive="t-disabled" [routerLink]="['profile']" (click)="clickMenu()"> meu perfil</a></p>
            <p style="text-align:center; margin-top: 10px;"><a routerLinkActive="t-disabled" [routerLink]="['myregister']" (click)="clickMenu()"> minhas Inscrições</a></p>
            <ng-container *ngIf="isRecruiter$() | async">
              <label class="p-2 my-2 block text-right bg-gray-100" for="">Área do Recrutador</label>
              <p style="text-align:center; margin-top: 10px;"><a routerLinkActive="t-disabled" [routerLink]="['newjob']" (click)="clickMenu()"> Criar uma Vaga</a></p>
              <p style="text-align:center; margin-top: 10px;"><a routerLinkActive="t-disabled" [routerLink]="['recruiter/jobs']" (click)="clickMenu()"> Vagas cadastradas</a></p>
              <p style="text-align:center; margin-top: 10px;"><a routerLinkActive="t-disabled" [routerLink]="['newcompany']" (click)="clickMenu()"> Cadastre uma empresa</a></p>
            </ng-container>
          </div>

          <div>
            <p style="text-align:center; margin-top: 60px;"><a href="javascript:null" class="text-danger" (click)="clickLogout()">encerrar sessão</a></p>
          </div>

      </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="block bg-gradient-to-b from-indigo-50 to-gray-50 h-4"></div>

          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </section>
</main>
