<main>
  <section id="toolbar">

    <mat-toolbar color='primary'>
      <span>Bicos</span>
    
      <div class="space-flex"></div>
    
    <button *ngIf = 'showSideMenu' (click)="clickMenu()" mat-icon-button>
        <mat-icon dir="rtl" >{{ menuIcone }}</mat-icon>
      </button>
    </mat-toolbar>
  </section>

  <section class="space-flex" id="main-content">
    <mat-sidenav-container class="h100">
      <mat-sidenav [opened]="sideMenuOpened" mode="side" position="end">
        <div style="width: 200px" class="d-flex flex-column">
          <div>
            <p style="text-align:center; margin-top: 10px;"><a [routerLink]="['home']" (click)="clickMenu()"> Buscar vagas</a></p>
            <p style="text-align:center; margin-top: 10px;"><a [routerLink]="['editprofile']" (click)="clickMenu()"> Editar perfil</a></p>
            <p style="text-align:center; margin-top: 10px;"><a [routerLink]="['myregister']" (click)="clickMenu()"> Minhas Inscrições</a></p>
            <ng-container *ngIf="isRecruiter()">
              <p style="text-align:center; margin-top: 10px;"><a [routerLink]="['newjob']" (click)="clickMenu()"> Criar uma Vaga</a></p>
              <p style="text-align:center; margin-top: 10px;"><a [routerLink]="['newcompany']" (click)="clickMenu()"> Cadastre uma empresa</a></p>
            </ng-container>
          </div>

          <div>
            <p style="text-align:center; margin-top: 60px;"><a href="javascript:null" class="text-danger" (click)="clickLogout()">encerrar sessão</a></p>
          </div>

      </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </section>
</main>