<div class="container">
    <div class="row">
       
    
    <div *ngIf = "flag; else UserRegister" class="col align-self-center">
            <h4 class="text-center mt-4">Nova senha</h4>

            <form [formGroup]="novaSenhaForm" class="form mt-4" (submit)="changePassword()">

                <div class="form-group">
                    <input formControlName="senha" class="form-control" placeholder="nova senha" type="password" autofocus>
             
            </div>
            <div class="form-group">
                <input formControlName="senhaConfirma" class="form-control" placeholder="confirmar nova senha" type="password" autofocus>
         
            </div>

                <button [disabled]="novaSenhaForm.invalid" type="submit" class="btn btn-primary btn-block">
                   Mudar senha
                </button>

                 
            </form>  
                
        </div>
        
        <ng-template #UserRegister>
            <div class="col align-self-center">
            <h4 class="text-center mt-4">Senha alterada com sucesso</h4>

            <div class="col text-center">
                <button [routerLink]="['']" type="submit" class="btn btn-primary btn-lg">
                   Logar!
                </button>
            </div>
             
            </div>
            </ng-template>
    
    </div>
</div>