

  <h1 id="titleRegistration">Acompanhe suas candidaturas</h1>

 <div class="container">

    <h5 class="mb-4 text-lg">Minhas Inscrições: </h5>
    <div *ngIf="listRegistrations?.length > 0">
      <div class="t-card bg-white p-2 mt-2" *ngFor='let obj of listRegistrations'>
        <p> <b>Vaga:</b> {{obj.job.title}}, <b>Local:</b> {{obj.job.city}} - <b>Remuneração:</b> R${{obj.job.salary}}</p>
        <p class="mt-2">
          <b>status: </b> {{ getApprovalState(obj) }}
        </p>
      </div>
    </div>
      <div *ngIf="listRegistrations?.length == 0">
        <p> Parece que você ainda não se candidatou em nenhuma vaga ;/ -

          <a [routerLink]="['../home']" class="txt2">
            Buscar vagas disponíveis
          </a>
        </p>
      </div>


  </div>

  <div class="container center">

      <a [routerLink]="['../home']" class="txt2">
        Buscar mais vagas
      </a>



  </div>



