@layer components {
  .t-card {
    @apply rounded-md shadow-sm hover:shadow-lg transition-all transform hover:-translate-y-1;
  }

  .t-card-no-anim {
    @apply rounded-md shadow-sm border;
  }

  .t-ellipsis {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
  }

  .t-btn {
    @apply py-2 px-4 rounded-3xl transition-all transform;
  }

  .t-icon {
    @apply p-2 rounded-full flex;
  }

  .t-divider {
    @apply block border-t;
  }

  .t-lgrid {
    @apply grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2  gap-2;
  }

  .t-rounded-image {
    @apply w-10 h-10 object-cover rounded-full bg-white;
    &__big {
      @apply t-rounded-image w-16 h-16;
    }
    &__small {
      @apply t-rounded-image w-6 h-6;
    }
  }

  .t-btn:active {
    @apply scale-95;
  }

  .t-center {
    @apply flex justify-center items-center;
  }

  .t-disabled {
    @apply opacity-50 pointer-events-none cursor-default;
  }

  .t-input-label {
    @apply text-lg mt-4;
    &.focus {
      @apply text-indigo-600;
      &.error {
        @apply text-red-600;
      }
    }
  }
  .t-input {
    @apply t-card-no-anim w-full p-2 ring-2 ring-transparent focus:ring-indigo-600;
    &.ng-invalid {
      @apply ring-red-600;
    }
  }

  .t-input-error {
    @apply bg-red-600 opacity-0 transition-all transform translate-x-2 text-white rounded-md p-1 px-2 w-fit-content self-end absolute -bottom-4 -right-2 text-sm;
    &.appear {
      @apply translate-x-0 opacity-100;
    }
  }

  .t-link-indigo {
    @apply uppercase
    hover:underline
    hover:text-indigo-700
    cursor-pointer
    focus:text-indigo-800
    text-indigo-600
    overflow-hidden
    overflow-ellipsis
    whitespace-nowrap
    pr-2;
  }

  .t-btn-indigo {
    @apply bg-indigo-500 cursor-pointer transition-colors;
    @apply hover:bg-indigo-600;
    @apply active:bg-indigo-700;
    color: white !important;
  }

  .t-btn-indigo-sec {
    @apply cursor-pointer text-indigo-500 bg-white border-2 transition-colors;
    @apply hover:bg-indigo-100 hover:border-indigo-200;
    @apply active:bg-indigo-200 active:border-indigo-500;
  }


}
