<main>
  <div class="container px-4 mt-4">
    <h2 class="text-3xl mt-4">As tecnologias que estão bombando nas empresas
      <a href="javascript:null"
      (click)="searchingKnowledges = !searchingKnowledges"
      [class.t-link-indigo]="searchingKnowledges">
        <mat-icon [inline]="true">search</mat-icon>
      </a>
    </h2>
      <app-knowledge-list [searching]="searchingKnowledges"></app-knowledge-list>
  </div>

  <!-- Jobs -->
  <div *ngIf="isUser$ | async" class="container pt-4 px-4">
    <h2 class="text-3xl my-4">Vagas abertas perfeitas para você!</h2>
    <section
      class="mt-4 mx-auto home-grid"
      [class.showing-descriptor]="cardSelected"
    >
      <app-job-list
        [(contracted)]="contractedSearchCard"
        (paramChange)="updateParams($event)"
        (keyup)="filter = $event.target['value']"
        (selectCard)="cardSelected = $event"
        [isLoading]="isLoading"
        [showingPreview]="!!cardSelected"
        (click)="shrinkSearchCard(true)"
        [jobs]="jobs | filterByJob: filter"
      >
      </app-job-list>
      <app-job-descriptor [job]="cardSelected" *ngIf="cardSelected">
      </app-job-descriptor>
    </section>
  </div>
</main>
